<h1>Edit Article</h1>
<%#local: true disables AJAX%>
<%#Passing the article object to the form_with method will automatically 
set the URL for submitting the edited article form. Rails will use the PATCH method
this is what is expected for a RESTful url updating%>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>