<%# rails will default to looking for a view in the directory named after the controller
with the same name as the method%>

<h1> New Article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>